<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script type="text/javascript" src="angular-spotify.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
	
</head>
<body>
	<!-- Initiate app -->
	<div id="top" class="navbar-fixed-top">  
		<nav> 
			<ul class="list-unstyled">
				<a href="https://www.spotify.com" class="fa fa-spotify" target="_blank">Go to Spotify</a>
			</ul>     
		</nav>  
	</div>
	<div id="directions">
		<p class="directions">Type in your favorite artist and this app will show you related artists that you might like!</p>
		<p class="directions">If you're curious about one of the related artists, click on their name and you'll be able to see their top songs!</p>
	</div>

	<div ng-app="myApp" ng-controller="myCtrl" >
		<!-- Form -->
		<form class="container" name="artistForm" id="form1">
			<div class="form-group">
				<label>Artist's First Name:</label>
				<input name="firstNameSearch" placeholder='Enter first name...' ng-model="firstname" class="form-control" required></input>
				<p id="errorMessage" ng-show="artistForm.firstNameSearch.$error.required">Type in an artist name!</p>
			</div>
			<div class="form-group">
				<label>Artist's Last Name:</label>
				<input name="lastNameSearch" placeholder='Enter last name...' ng-model="lastname" class="form-control"></input>
			</div>
			<div class="form-group">
				<button ng-disabled="artistForm.firstNameSearch.$invalid" class="btn btn-primary" ng-click="getArtists()" type="submit">Submit</button>
			</div>
		</form>
		
		<!-- Results -->
		<div class="row" id="results">
			<div id="artistList" class="container-fixed col-md-6">
				<p ng-show="artists.length>0">Related Artists:</p>
				<ul id="artistArea">
					<li ng-repeat="artist in artists" class="" ng-model="selectedArtist" ng-click="getSongs(artist.id)">{{artist.name}}</li>
				</ul>			
			</div>
			<div class="container-fixed col-md-6">
				<p ng-show="songList.length>0">Top Songs for the Related Artist You Chose:</p>
				<ul>
					<li ng-repeat="song in songList" class="" ng-click="console.log(song.id)" title="{{song.title}}">{{song.title}}</li>
				</ul>			
			</div>
		</div>
	</div>
</body>
</html>